-- Create the database
CREATE DATABASE EIUBetApp;
GO

-- Use the newly created database
USE EIUBetApp;
GO

-- User table
CREATE TABLE [dbo].[User] (
    [UserId] UNIQUEIDENTIFIER PRIMARY KEY DEFAULT NEWID(),
    [Username] NVARCHAR(50) UNIQUE,
    [FullName] NVARCHAR(100),
    [Password] NVARCHAR(255), -- hashed password
    [Email] NVARCHAR(100),
    [Phone] NVARCHAR(20),
    [IsDeleted] BIT DEFAULT 0
);

-- Admin table
CREATE TABLE [dbo].[Admin] (
    [AdminId] UNIQUEIDENTIFIER PRIMARY KEY DEFAULT NEWID(),
    [UserId] UNIQUEIDENTIFIER NOT NULL,
    FOREIGN KEY ([UserId]) REFERENCES [dbo].[User]([UserId]) ON DELETE CASCADE
);

-- Role table with INT identity RoleId
CREATE TABLE [dbo].[Role] (
    [RoleId] INT PRIMARY KEY IDENTITY(1,1),
    [RoleName] NVARCHAR(50) NOT NULL,
    [Description] NVARCHAR(MAX) NULL
);

-- UserRole mapping table, RoleId is INT matching Role table
CREATE TABLE [dbo].[UserRole] (
    [UserRoleId] UNIQUEIDENTIFIER PRIMARY KEY DEFAULT NEWID(),
    [UserId] UNIQUEIDENTIFIER NOT NULL,
    [RoleId] INT NOT NULL,
    FOREIGN KEY ([UserId]) REFERENCES [dbo].[User]([UserId]) ON DELETE CASCADE,
    FOREIGN KEY ([RoleId]) REFERENCES [dbo].[Role]([RoleId]) ON DELETE CASCADE
);

-- Room table
CREATE TABLE [dbo].[Room] (
    [RoomId] UNIQUEIDENTIFIER PRIMARY KEY DEFAULT NEWID(),
    [RoomName] NVARCHAR(100),
    [IsAvailable] BIT DEFAULT 1,
    [IsDelete] BIT DEFAULT 0
);

-- Player table
CREATE TABLE [dbo].[Player] (
    [PlayerId] UNIQUEIDENTIFIER PRIMARY KEY DEFAULT NEWID(),
    [UserId] UNIQUEIDENTIFIER NOT NULL,
    [ReadyStatus] BIT DEFAULT 0,
    [OnlineStatus] BIT DEFAULT 0,
    [IsAvailable] BIT DEFAULT 1,
    FOREIGN KEY ([UserId]) REFERENCES [dbo].[User]([UserId]) ON DELETE CASCADE
);

-- ManageRoom table
CREATE TABLE [dbo].[ManageRoom] (
    [ManageRoomId] UNIQUEIDENTIFIER PRIMARY KEY DEFAULT NEWID(),
    [PlayerId] UNIQUEIDENTIFIER NOT NULL,
    [RoomId] UNIQUEIDENTIFIER NOT NULL,
    [JoinAt] DATETIME DEFAULT GETDATE(),
    [LeaveAt] DATETIME NULL,
    FOREIGN KEY ([PlayerId]) REFERENCES [dbo].[Player]([PlayerId]) ON DELETE CASCADE,
    FOREIGN KEY ([RoomId]) REFERENCES [dbo].[Room]([RoomId]) ON DELETE CASCADE
);

-- Game table
CREATE TABLE [dbo].[Game] (
    [GameId] UNIQUEIDENTIFIER PRIMARY KEY DEFAULT NEWID(),
    [Name] NVARCHAR(100),
    [Rule] NVARCHAR(MAX),
    [Description] NVARCHAR(MAX)
);

-- Logs table
CREATE TABLE [dbo].[Logs] (
    [LogId] UNIQUEIDENTIFIER PRIMARY KEY DEFAULT NEWID(),
    [PlayerId] UNIQUEIDENTIFIER NOT NULL,
    [GameId] UNIQUEIDENTIFIER NOT NULL,
    [GameResult] NVARCHAR(50),
    [Action] NVARCHAR(MAX),
    [TimeAt] DATETIME DEFAULT GETDATE(),
    [IsDelete] BIT DEFAULT 0,
    FOREIGN KEY ([PlayerId]) REFERENCES [dbo].[Player]([PlayerId]) ON DELETE CASCADE,
    FOREIGN KEY ([GameId]) REFERENCES [dbo].[Game]([GameId]) ON DELETE SET NULL
);
